* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    background-color: #8d8b8b;
}

ul,
li {
    list-style-type: none;
    a{
        display: inline-block;
        transition: all .3s ease 0s;
        text-decoration: none;
        color: inherit;
        &:hover {
            cursor: pointer;
            transform: scale(1.2);
        }
    }
}