@use "../../layout/variable2" as *;

.footer-box{
    display: flex;
    .footer-img{
        margin-top: 0px;
        margin-left: 100px;
        margin-bottom: 20px;
    }
    .footer-flex {
        display: flex;
        justify-content: flex-end;
        margin-top: 45px;
        width: 100vw;

        .footer_nav {
            color: #fff;
            display: flex;
            justify-content: center;
            font-size: 1.5vw;
            font-family: '游明朝', 'Yu Mincho', YuMincho, 'Hiragino Mincho Pro', serif;

            .ul_list2 {
                margin-left: 50px;
                margin-right: 50px;
            }

            .ul_list3 {
                margin-right: 100px;
            }

            .ul_list4{
                margin-right: 50px;
            }
        }
    }
}

@media screen and (max-width:480px) {
    .footer-box{
        .footer-img{
            margin-top: 25px;
            margin-left: 50px;
            img{
                width: 100px;
            }
        }
        .footer-flex{
            margin-top: 40px;
            .footer_nav{
                font-size: 10px;
                .ul_list2{
                    margin-left: 20px;
                    margin-right: 20px;
                }
                .ul_list3{
                    margin-right: 50px;
                }
                .ul_list4{
                    margin-left: 20px;
                    margin-right: 20px;
                }
            }
        }
    }
}